{% extends "auth/register.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-container">
    <img src="{% static 'images/mena.png' %}" alt="Mena" style="margin: 20px;">
    <div class="title">Login</div>
    <div class="subtitle">Welcome back,</div>

    <form method="POST">
        {% csrf_token %}
        
        <input type="text" name="username" placeholder="Username" class="input-field" required>
        <input type="password" name="password" placeholder="Password" class="input-field" required>
        
        <a href="{% url 'password_reset' %}" class="forgot-account">Forgot account?</a>
        
        <button type="submit" class="login-button">Login</button>
    </form>

    <div>
        <span>Don’t have an account?</span>
        <a href="{% url 'register' %}" class="sign-up">Sign Up</a>
    </div>
</div>
{% endblock %}