{% extends "index/base.html" %}
{% load static %}

{% block title %}
Forum
{% endblock %}

{% block content %}
    <h1 style="padding-left: 20px; padding-top: 25px; padding-bottom: 25px; margin-bottom: 50px; background-color: #c39ef6;">Discussion Forum</h1>
    <div style="display: flex; gap: 20px; margin-bottom: 20px;">
        
        <div class="forum-posts">
            {% for post in posts %}
            <div class="posts-container">
                <h2 style="color: #5e3a8f; font-weight: bold;">{{ post.title }}</h2>
                <p style="font-size: 1em; color: #5e3a8f; margin: 0;">{{ post.userID.username }}</p>
                <p style="margin-top: 10px; line-height: 1.5; color: #333;">{{ post.content }}</p>
                <input type="text" placeholder="Comment here..." style="width: 100%; padding: 10px; border: 1px solid #d3cce3; border-radius: 5px; margin-top: 10px;">
            </div>
            {% endfor %}
        </div>
        <div class="forum-rules-container">
            <h1>Welcome to the Mena Forum</h1>
            <p>Here, users can discuss their concerns and queries.</p>
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Be respectful and kind. This is a safe space for all women to share their experiences and support each other.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">No harassment or hate speech. We have zero tolerance for bullying, discrimination, or offensive language.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Do not post unsolicited medical advice. Always consult a healthcare professional for medical concerns.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Respect privacy. Do not share personal information or discuss others’ private details without consent.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Keep the community safe. Report any harmful or inappropriate behavior to the moderators.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Stay on topic. Post in relevant threads and avoid spamming the forum with off-topic messages.</span> 
            </div> 
            <div class="rule"> 
                <span class="rule-icon">⚫</span> 
                <span class="rule-text">Encourage and support each other. Celebrate achievements and offer compassion during tough times.</span> 
            </div>
        </div>
    </div>
    <a href="{% url 'post' %}" class="button">New Post</a>
{% endblock %}